<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p>Welcome to <%= title %></p>

    <p><a href="/quizzes"> Comience a jugar</a></p>
    <br>
    <p><a href="/author"> Página de autor</a></p>

    <footer>
    	<a href="https://github.com/gonose/Quiz_16">GitHub</a>
    </footer>
  </body>
</html>
