*	{ margin: 0; padding: 0; }

body {
  padding: 50px;
  font: 16px Georgia, serif;
  color: white;
}

.page	{
	margin: 2% auto;
	color: white;
}
.main	{
	border: 1px solid #999;
	padding: 1%;
	margin-bottom: 1px;
	color: black;
	background: #eee;
}

a {
  color: #00B7FF;
}

section > div { padding: 20px; }

header	{text-align: center;}
nav	{text-align: center;}
section	{text-align: left;}
header	{text-align: center;}

nav a 	{ margin: 0px 10px 0px 0px; }

#flashsuccess, #flasherror, #flashinfo {
	padding: 15px;
	background-color: gray;
}

#flashsuccess h3 { 
	background-color: green;
	color: white;
}
#flashsuccess ul {
	padding-left: 10px;
	background-color: gray;
	color: green;
}

#flasherror h3 {
	background-color: red;
	color: white;
}
#flashsuccess ul {
	background-color: gray;
	color: orange;
}

#flashinfo h3 {
	background-color: blue;
}
#flashsuccess ul {
	background-color: gray;
	color: yellow;
}