
      <form method="get" action="<%= quizId %>/check">
      Pregunta: <%= question %> <p>
      <input type="text" name="answer" value="<%= answer %>" placeholder="Responda aqui">
      <input type="submit" value="Comprobar">
      </form>
